@import url('https:fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600');

//appbar + boardbar+boardcontent = 100vh; 1vh of scollbar
$gap: 10px;
$narbar-app-height: 5vh;
$narbar-board-height: 6vh;
$narbar-boardcontent-height: 88vh;

$board-bg-color: antiquewhite;
$common-element-bg: rgba(255,255,255,.24);

